<html>
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <form th:method="POST" th:action="@{/courses}">
        <tr th:each="course: ${courses}" class="course">
            <td th:text="${course.getCourseId()}"></td>
            <td> <input type="radio" name="courseId" th:value="${course.getCourseId()}" th:text="${course.getName()}"></td>
            <td><label th:for="${course.getCourseId()}"></label></td>
            <td><th:block><a th:href="@{/courses/edit/{id} (id = ${course.getCourseId()})}" >Edit</a></th:block></td>
            <td><th:block><a th:href="@{/courses/delete/{id} (id = ${course.getCourseId()})}" >Delete</a></th:block></td><br />
        </tr>
        <input type="submit" th:value="Submit"/>
    </form>
    <form th:method="GET">
        <a th:href="@{/courses/add}">Add</a>
    </form>

<!--    <div th:each="course : ${courses}">-->
<!--        <input type="radio" name="courseId" th:value="${course.getCourseId()}">-->
<!--        <label th:for="${course.getCourseId()}" th:text="${course.getName()}"></label>-->
<!--    </div>-->
<!--    <input type="radio" name="courseId" value="1"> Веб програмирање<br/>-->

    <br/>

</main>
</body>
</html>